.new-message-form {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 4%;
}

.new-message-input-field {
  flex: 1;
  font-size: 1rem;
  padding: 8px 12px;
  resize: none;
  border-radius: 8px;
}

.send-message-button {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: rgb(72, 27, 124);
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  padding-right: 10px;
  padding: 8px 12px;
  float:center;
}

.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
  box-shadow: none;
}
