
.Col1 {
    border: 1px solid black;
    padding-bottom: 10%;
    
    background-color: rgb(39, 152, 160);
}

.Col2 {
    border: 1px solid black;
    padding-bottom: 10%;
    background-color: white;
}
.Row1 {
    padding-bottom: 5%;
    border: 2px solid rgb(39, 152, 160);
    background-color: white;
    border-top: 6px rgb(39, 152, 160);
}
body {
    background-color: rgb(39, 152, 160);
}
.name {
    color: white;
    text-align: center;
}

.Image {
    position: relative;
    left: 25%;
}

.btn{
    color: white;
    border-radius: 10%;
}
.chat {
   
}